<div>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
        <div class="body">

            <div class="container">
              <div class="backbox">
                <div class="loginMsg">
                  <div class="textcontent">
                    <p class="title">Do you have an acc?</p>
                    <button id="switch1">Login</button>
                  </div>
                </div>
                
              </div>
              <!-- backbox -->
          
              <div class="frontbox">
                <div class="login">
                  <h2>SIGN UP</h2>
                  <div class="inputbox">
                    <input type="text" name="name" placeholder="  USERNAME" formControlName="name">
                    <span style="color:red" *ngIf="name && name.invalid && name.touched">*invalid*</span>
                    <input type="text" name="email" placeholder="  EMAIL" formControlName="email">
                    <span style="color:red" *ngIf="email && email.invalid && email.touched">*invalid*</span>
                    <input type="password" name="password" placeholder="  PASSWORD" formControlName="password">
                    <span style="color:red" *ngIf="password && password.invalid && password.touched">*invalid*</span>
                    <input type="password" name="confirm-password" placeholder="  CONFIRM-PASSWORD"
                    formControlName="confirmpassword">
                    <span style="color:red" *ngIf="confirmpassword && confirmpassword.invalid && confirmpassword.touched">*invalid*</span>
                  </div>
                  <button [disabled]="signupForm.invalid">Sign Up</button>
                </div>
          
          
              </div>
              <!-- frontbox -->
            </div>
        </div>
    </form>
</div>
  

