<button (click)="open(content)" class="buy-tickets">List your shows</button>
<ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Form For  Listing Your shows</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="Reactiveform" (ngSubmit)="onSubmit()" >
        <div class="form-group"  >
            <label for="eventimage" >Image of Events</label>
            <div class="input-group"  >
              <input type="file"  class="file-upload-input" onchange="readURL(this)" accept="Image/*"  f>
            </div>
          </div>
        <div class="form-group"  >
          <label for="driveTitle" >Event Name</label>
          <div class="input-group"  >
            <input id="driveTitle"  class="form-control"  formControlName="driveTitle">
            <span  style="color: red;" *ngIf="driveTitle &&driveTitle.invalid && driveTitle.touched">This field is required</span>
          </div>
        </div>
        <div class="form-group" >
            <label for="driveDescription" >Location</label>
            <div class="input-group"  >
              <input id="driveDescription" name="driveDescription" class="form-control" formControlName="driveDescription">
              <span  style="color: red;" *ngIf="driveDescription &&driveDescription.invalid && driveDescription.touched">This field is required</span>
            </div>
          </div>
          <div class="form-group" >
            <label for="TargetedMoney" >No Of Seats</label>
            <div class="input-group" >
              <input id="TargetedMoney"  name="TargetedMoney" class="form-control" formControlName="TargetedMoney">
              <span  style="color: red;" *ngIf="TargetedMoney &&TargetedMoney.invalid && TargetedMoney.touched">This field is required</span>
            </div>
          </div>
          <div class="form-group" >
            <label for="Info" >About Event</label>
            <div class="input-group" >
              <textarea id="Info" rows="4" cols="50" name="Info" class="form-control" formControlName="Info"></textarea>
              <span  style="color: red;" *ngIf="Info &&Info.invalid && Info.touched">This field is required</span>
            </div>
          </div>
          <div>
            <div class="border text-center">
                <button data-dismiss="modal" class="btn btn-info"  >Submit</button>
                </div>
          </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>