<div class="container">
    <div class="row">
      <div class="search-hero">
        <input class="form-control" type="text" name="search"  autocomplete="off" placeholder="&#61442;  search for Events Holders">
      </div>
      <div >
        <img src="" alt="error">
        <h2>Event name</h2>
        <div>
            <span > About:</span><span style="padding-left: 10px;">Info for Events</span>
            <br>
            <span > District :</span><span style="padding-left: 10px;">Details</span>
            <br>
            <span >City :</span><span style="padding-left: 10px;">Details</span>
            <br>
            <span >Location :</span><span style="padding-left: 10px;">Details</span>
            <br>
            <span >contact-No:</span><span style="padding-left: 10px;">Details</span>
        </div>
        <!-- <div class="col-lg-4 d-none d-md-block col-md-6 btn-bhed">
            <button class="btn btn-sm btn-default" routerLink="/ngo" routerLinkActive="current">Donate</button> 
            <button class="btn btn-sm btn-success" (click)="navigate(Detail)" routerLinkActive="current">show more Details</button>  
        </div> -->
        <div>
            <button class="buy-tickets">Approve</button> 
            <button class="buy-tickets">Reject</button>
        </div>
        <span>-------------------------------------------------------------------------------------</span>
    </div>
  </div>
