<section class="review-page ">
    <div class="one" style="background-color: #fff;">
        <section class="secondary-column" style="width: 105% !important;">
            <div class="filter-sidebar">
                <div class="pt-xl-5"></div>
                <div class="filter-options">
                    <h3 class="subheading">Categories</h3>
                    <button class="category-option" data-filter="all">All</button>
                    <button class="category-option" data-filter="small-families" (click)="clickingComedy()">Comedy</button>
                    <button class="category-option" data-filter="tradesmen" (click)="clickingExhibitions()">Exhibitions</button>
                    <button class="category-option" data-filter="car-enthusiast"(click)="clickingParties()">Parties</button>
                    <button class="category-option" data-filter="4wd-off-road"(click)="clickingSports()">Sports</button>
                    <button class="category-option" data-filter="safety-conscious"(click)="clickingWorkshops()">Workshops</button>	
                </div>
                <div class="filter-options">
                    <h3 class="subheading">Price range (in Rs)</h3>
                    <div class="custom-checkbox">
                        <input class="filter-option-price" type="checkbox" name="price-range-0-20000" id="price-range-0-20000" data-filter="price-range-0-20000">
                        <label for="price-range-0-20000">0 - 500<span class="number">(1)</span></label>
                    </div>
                    
                    <div class="custom-checkbox">
                        <input class="filter-option-price" type="checkbox" name="price-range-21000-40000" id="price-range-21000-40000" data-filter="price-range-21000-40000">
                        <label for="price-range-21000-40000">500 - 1000<span class="number">(2)</span></label>
                    </div>
                    
                    <div class="custom-checkbox">
                        <input class="filter-option-price" type="checkbox" name="price-range-41000-60000" id="price-range-41000-60000" data-filter="price-range-41000-60000">
                        <label for="price-range-41000-60000">1000 - 2500<span class="number">(2)</span></label>
                    </div>
                    
                    <div class="custom-checkbox">
                        <input class="filter-option-price" type="checkbox" name="price-range-61000" id="price-range-61000" data-filter="price-range-61000">
                        <label for="price-range-61000">2500 +<span class="number">(1)</span></label>
                    </div>
                    
                </div>
                <div class="filter-options">
                    <h3 class="subheading">Languages</h3>
                    <div class="custom-checkbox">
                        <input class="filter-option-manufacturer" type="checkbox" name="manufacturer-holden" id="manufacturer-holden" data-filter="manufacturer-holden">
                        <label for="manufacturer-holden">English<span class="number">(1)</span></label>
                    </div>
                    <div class="custom-checkbox">
                        <input class="filter-option-manufacturer" type="checkbox" name="manufacturer-kia" id="manufacturer-kia" data-filter="manufacturer-kia">
                        <label for="manufacturer-kia">Hindi<span class="number">(1)</span></label>
                    </div>
                    <div class="custom-checkbox">
                        <input class="filter-option-manufacturer" type="checkbox" name="manufacturer-mitsubishi" id="manufacturer-mitsubishi" data-filter="manufacturer-mitsubishi">
                        <label for="manufacturer-mitsubishi">Marathi<span class="number">(2)</span></label>
                    </div>
                    <div class="custom-checkbox">
                        <input class="filter-option-manufacturer" type="checkbox" name="manufacturer-subaru" id="manufacturer-subaru" data-filter="manufacturer-subaru">
                        <label for="manufacturer-subaru">Punjabi<span class="number">(2)</span></label>
                    </div>
                </div>
            </div>
        </section>
    </div>
  </section>
